* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

a {
    transition: 0.5s;
}

a:hover {
    color: #413E7E;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #000000;    
    text-align: center;
    padding: 12.5px;
    opacity: 75%;
    width: 100%;
}

.header h1 {
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
}

.main,
.footer {
    width: 100%;
}

.main {
    height: 100%;
    background: linear-gradient(112deg, rgba(214,0,0,1) 0%, rgba(84,2,113,1) 35%, rgba(50,86,170,1) 70%, rgba(0,212,255,1) 100%); 

    display: flex;
    gap: 5px;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.main button {
    font-size: 16px;
    padding: 6px;
    min-height: 35px;
    min-width: 125px;
    background-color: #00d4ff;
    border: 0;
    border-radius: 8px;
    transition: 0.5s;
}

.main button:hover {
    background-color: #413E7E;
    color: #ffffff;
}

.result {
    margin-top: 40px;
    width: 100%;

    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.result table {
    color: #ffffff;
}

.result table th {
    font-size: 25px;
    padding: 25px;
}

.result table .score {
    text-align: center;
    font-size: 16px;
}

.result .announcer {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bolder;
}

.footer {
    padding: 12.5px;
    text-align: center;
    
    /* Pin to bottom */
    position: absolute;
    bottom: 0;
    left: 0;
}

.popup {
    position: fixed;
    width: 30vw;
    left: 0;
    right: 0;
    top: 35vh;
    margin: auto;

    display: none;
    padding: 65px;
    z-index: 1;

    background-color: rgba(31, 41, 55, .90);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    color: #ffffff;
    text-align: center;
}

.popup #popup-header {
    font-size: 35px;
}

/*
    References
        Popup Animation
        https://stackoverflow.com/questions/40549227/how-to-create-a-pop-up-animation-with-a-modal-using-css

        Hover Effects
        https://css-tricks.com/css-link-hover-effects/
*/