* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #869034;
}

img,
.main-game-npc button {
    pointer-events: none;
}

h2,
h3 {
    padding: 15px;
    color: #FFFFFF;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #000000;    
    text-align: center;
    padding: 12.5px;
    opacity: 95%;
    width: 100%;
}

.header h1 {
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
}

.main,
.footer {
    width: 100%;
}

.main {
    height: 100%;
    background: linear-gradient(117deg, rgba(252,70,107,1) 0%, rgba(147,40,62,1) 35%, rgba(89,50,110,1) 50%, rgba(41,59,148,1) 65%, rgba(63,94,251,1) 100%); 
    
    display: flex;
    gap: 5px;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.main button {
    font-size: 16px;
    padding: 6px;
    min-height: auto;
    min-width: auto;
    background-color: #00d4ff;
    border: 0;
    border-radius: 8px;
    transition: 0.5s ease;
}

.main button:hover {
    background-color: #413E7E;
    color: #ffffff;
    transform: scale(1.08);
}

.main button img {
    height: 10vh;
    padding: 5px;
    border-radius: 8px;
}

.main-game-player,
.main-game-npc {
    text-align: center;
}

.main-game {
    width: 100%;

    display: flex;
    gap: 5%;
    justify-content: center;
}

.main-game-player button,
.main-game-npc button {
    margin: 5px;
}

.main-game-npc img {
    transform: scaleX(-1);
}

.result {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.result h3 {
    padding-top: 0;
}

.result .announcer {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bolder;
}

.footer {
    padding: 12.5px;
    text-align: center;
    
    /* Pin to bottom */
    position: absolute;
    bottom: 0;
    left: 0;
}

.popup {
    position: fixed;
    width: 30vw;
    left: 0;
    right: 0;
    top: 35vh;
    margin: auto;

    display: none;
    padding: 65px;
    z-index: 1;

    background-color: rgba(31, 41, 55, .90);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    color: #ffffff;
    text-align: center;
}

.popup #popup-header {
    font-size: 35px;
}

/*
    References
        Popup Animation
        https://stackoverflow.com/questions/40549227/how-to-create-a-pop-up-animation-with-a-modal-using-css

        Hover Effects
        https://css-tricks.com/css-link-hover-effects/
*/